* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Glyphicons Halflings";
    src: url("../fonts/glyphicons-halflings-regular.eot");
    src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

.glyphicon {
position: relative;
top: 1px;
display: inline-block;
font-family: "Glyphicons Halflings";
font-style: normal;
font-weight: 400;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.glyphicon-earphone:before {
    content: "\e182";
}

.glyphicon-map-marker:before {
    content: "\e062";
}

.glyphicon-envelope:before {
    content: "\2709";
}

body {
    font-family: 'Roboto', Fallback, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    background-color: #f6f6f6;
    overflow: hidden;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.logo {
    float: left;
    padding: 20px 0;
}

.search {
    float: right;
    padding: 40px 0;
}

.search form input {
    padding: 8px;
    border: 0;
}

.search form input[type="submit"] {
    background-color: #a22f36;
    color: #fff;
}

.nav {
    background-color: #2a2d34;
    border-bottom: 3px solid #871e23;
}

.nav li:first-child, nav li:hover {
    background-color: #871e23;
}

.nav li {
    display: inline-block;
    list-style: none;
    padding: 15px;
    text-transform: uppercase;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.banner {
    position: relative;
}

.banner img {
    vertical-align: middle;
}

.banner-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    width: 40%;
}

.banner-text .text1 {
    font-size: 30px;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.banner-text .text2 {
    line-height: 1.5em;
    margin-bottom: 20px;
}

.banner-text a {
    padding: 8px 15px;
    color: #fff;
    background-color: #871e23;
    display: inline-block;
}

.main {
    background-color: #f6f6f6;
    overflow: auto;
    padding-top: 30px;
    border-bottom: 2px solid #871e23;
}

.main .left {
    float: left;
    width: 25%;
}

.main .left .items {
    padding-bottom: 15px; 
}
.main .items img {
    width: 100%;
    vertical-align: middle;  
}

.main .right {
    float: right;
    width: 73%;
}

.product {
    margin-bottom: 20px;
}

.product .title {
    text-align: center;
    margin-bottom: 30px;
}

.product span {
    border-bottom: 2px solid #871e23;
    padding-bottom: 10px;
}

.list-product {
    overflow: auto;
}

.list-product .items {
    width: 33.33%;
    float: left;
    padding: 15px;
}

.list-product .items-name {
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

.more {
    text-align: center;
}

.more a {
    padding: 5px 15px;
    color: #fff;
    background-color: #871e23;
    display: inline-block;
}

.footer {
    background-color: #303030;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
    overflow: hidden;
}

.footer h3 {
    padding: 10px 0;
    text-transform: uppercase;
}

.footer li {
    line-height: 35px;
    color: grey;
}

.footer span {
    padding-right: 10px;
}

.footer img {
    width: 33.33%;
    float: left;
}

.footer .left {
    float: left;
    width: 50%;
}

.footer .right {
    float: left;
    width: 50%;
}